<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Maintainance page</title>
        
    </head>
    <body>
        <h1>we'll be rigth back</h1>
        <p> {{screamIt pageTitle}}</p>
        <footer>&copyCopyright {{fullYear}}</footer>
    </body>
</html>