<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>project page</title>
        
    </head>
    <body>
        <p><a href="/">Home</a></p>
        <p><a href="/About">About</a></p>
        <h1> {{screamIt pageTitle}}</h1>
        <p>you're right on time</p>
        <footer>&copyCopyright {{getCurrentFullYear}} .</footer>
    </body>
</html>